<% provide(:button_text, "作成") %>
<% if logged_in? %>
  <div class="row">
    <div class="col-md-4 home-side">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="task_form">
        <%= render 'shared/task_form' %>
      </section>
    </div>
    <div class="col-md-8 home-task">
      <h3>予定一覧</h3>
      <div id="calendar"></div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Simple Schedulerへようこそ！</h1>

    <h2>
      簡単にスケジュールを管理できるサービスです。
    </h2>

    <%= link_to "会員登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>