@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */
@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

body {
  padding-top: 80px;
  background-color: #fafaff;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* debug_info */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 20px;
  @include box-sizing;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* sidebar */

div.home-side {
  background-color: white;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  -moz-box-shadow:    3px 3px 5px 1px #ddd;
  -webkit-box-shadow: 3px 3px 5px 1px #ddd;
  box-shadow:         3px 3px 5px 1px #ddd;
}

div.home-task {
  position: relative;
  top: 40px;
  background-color: white;
  padding: 10px;
  border-left: 2px dotted #aaa;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomright: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  -moz-box-shadow:    3px 3px 5px 1px #ddd;
  -webkit-box-shadow: 3px 3px 5px 1px #ddd;
  box-shadow:         3px 3px 5px 1px #ddd;
}

div {
  section.user_info {
    margin-top: 30px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.task_form {
  padding-bottom: 250px;
}
.input-group {
  margin-bottom: 15px;
}
.task-button {
  margin-top: 10px;
}
.task-delete-button {
  margin-top: 12px;
  float: right;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
}

/* tasks */

.tasks {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

span.group-title {
  position: relative;
  z-index: 2;
  background-color: white;
}
div.group-member {
  position: relative;
  border: 1px solid #aaa;
}

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 2%;
  width: 80%;
}

div.task-edit {
  text-align: center;
  padding: 10px;
  font-size: 21px;
  background-color: white;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  -moz-box-shadow:    3px 3px 5px 1px #ddd;
  -webkit-box-shadow: 3px 3px 5px 1px #ddd;
  box-shadow:         3px 3px 5px 1px #ddd;
}

/* task_show */
div.task_show {
  text-align: center;
  padding: 10px;
  font-size: 21px;
  background-color: white;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  -moz-box-shadow:    3px 3px 5px 1px #ddd;
  -webkit-box-shadow: 3px 3px 5px 1px #ddd;
  box-shadow:         3px 3px 5px 1px #ddd;
}
span.member-title {
  position: relative;
  z-index: 2;
  padding: 6px;
  background-color: white;
}
span.time {
  margin-bottom: 15px;
  display: block;
}
div.member-list-box {
  text-align: center;
  z-index: 1;
  position: relative;
  top: -15px;
  padding-top: 20px;
  border-top: 3px dotted #aaa;
  border-bottom: 3px dotted #aaa;
  padding-bottom: 10px;
}
ul.task-member-list {
  margin: 0;
  padding: 0;
  text-align: center;
}
li.task-member {
  list-style: none;
}
li.task-member:first-child {
  border: none;
}

/* group */
div.group-list {
  text-align: center;
  padding: 10px;
  font-size: 21px;
  background-color: white;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  -moz-box-shadow:    3px 3px 5px 1px #ddd;
  -webkit-box-shadow: 3px 3px 5px 1px #ddd;
  box-shadow:         3px 3px 5px 1px #ddd;
}

div.group-show {
  text-align: center;
  padding: 10px;
  font-size: 21px;
  background-color: white;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  -moz-box-shadow:    3px 3px 5px 1px #ddd;
  -webkit-box-shadow: 3px 3px 5px 1px #ddd;
  box-shadow:         3px 3px 5px 1px #ddd;
}